
<div id="user_listing_box" class="well sidebar-nav">
  <ul class="nav nav-list">
    <h3 class="text-center">
      Users: <span id="user_count"></span>
    </h3>

    <ul id="user_list">
    </ul>
  </ul>
</div>